# Exercise 1

### Count the number of lines in Python for each file

In [10]:
import pandas as pd

In [2]:
pd.read_csv("/home/dsc/data/challenge/bookings.csv.bz2")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5000009, saw 2

Tried to open it with pandas, but I got the above error

In [11]:
import bz2
import os

In [12]:
bookings = bz2.open("/home/dsc/data/challenge/bookings.csv.bz2", "r")

count = 0

for line in bookings:

   count += 1

bookings.close()

count

10000011

In [13]:
searches = bz2.open("/home/dsc/data/challenge/searches.csv.bz2", "r")

count = 0

for line in searches:

   count += 1

searches.close()

count

20390199

# Exercise 2
### Top 10 arrival airports in the world in 2013 (using the bookings file)
- Arrival airport is the column arr_port. It is the IATA code for the airport
-  To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port. Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).
- Print the top 10 arrival airports in the standard output, including the number of passengers
- Bonus point: Get the name of the city or airport corresponding to that airport(programatically, we suggest to have a look at GeoBases in Github)
- Bonus point: Solve this problem using pandas (instead of any other approach)

Now trying to load the bookings file with Pandas again...

In [10]:
pd.read_csv("/home/dsc/data/challenge/bookings.csv.bz2", compression= "bz2", nrows=1000 )

    act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
0    2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae95...
1    2013-03-26 00:00:00^1A    ^US      ^e612b9eeee...
2    2013-03-26 00:00:00^1A    ^US      ^e612b9eeee...
3    2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6...
4    2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6...
..                                                 ...
995  2013-03-23 00:00:00^1P    ^US      ^bfafedb150...
996  2013-03-06 00:00:00^1P    ^US      ^83ccf07a55...
997  2013-03-06 00:00:00^1P    ^US      ^83ccf07a55...
998  2013-03-06 00:00:00^1P    ^US      ^0deb0937d0...
999  2013-03-07 00:00:00^1P    ^US      ^0deb0937d0...

[1000 rows x 1 columns]

I first checked what the separator was, then looking at the pandas documentation and the first error I got, I used the "error_bad_lines" = False parameter and "memory_map" = True to try and read the whole dataframe, but my Kernel keeps dying...

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

bookings = pd.read_csv("/home/dsc/data/challenge/bookings.csv.bz2", compression= "bz2", sep = "^", error_bad_lines = False, memory_map = True)

In [3]:
bookings_n1000 = pd.read_csv("/home/dsc/data/challenge/bookings.csv.bz2", compression= "bz2", sep = "^", error_bad_lines = False, memory_map = True, nrows=1000)

So I opened the first 1000 rows to see if I could at least do something with this

In [4]:
bookings_n1000

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2013-03-23 00:00:00,1P,US,bfafedb1505531ad8e70e176941a7ad0,804deeaddf16e6a93d36e5d046040d60,be83fd657625d53f58c5d3070cdb41b8,2013-03-06 00:00:00,5570,0,SLC,...,SLCMSN,NV,K,Y,2013-05-20 14:00:00,2013-05-20 18:00:55,1,2013,3,NULL
996,2013-03-06 00:00:00,1P,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,691f15622668e671f51ba033ea904398,2013-03-06 00:00:00,4664,0,SNA,...,SNASFO,FK,V,Y,2013-03-17 13:31:00,2013-03-17 15:01:12,1,2013,3,NULL
997,2013-03-06 00:00:00,1P,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,691f15622668e671f51ba033ea904398,2013-03-06 00:00:00,4664,0,SNA,...,SFOSNA,FK,W,Y,2013-03-20 17:45:00,2013-03-20 19:15:12,1,2013,3,NULL
998,2013-03-06 00:00:00,1P,US,0deb0937d0f143f79505297b235eaeeb,f4ae494f0ebec1d84f6e01750d61747d,bed521f09feee94fcb87f705267b0327,2013-03-06 00:00:00,331,2598,LAX,...,LAXDFWMEM,KK,Y,Y,2013-03-09 07:30:00,2013-03-09 15:01:52,1,2013,3,NULL
999,2013-03-07 00:00:00,1P,US,0deb0937d0f143f79505297b235eaeeb,f4ae494f0ebec1d84f6e01750d61747d,bed521f09feee94fcb87f705267b0327,2013-03-06 00:00:00,331,2598,LAX,...,LAXDFWMEM,KK,Y,Y,2013-03-09 07:30:00,2013-03-09 15:01:52,-1,2013,3,NULL

In [5]:
type(bookings_n1000)

pandas.core.frame.DataFrame

Having a further look into the documentation, I'm going to try and use "usecols"

In [14]:
bookings = pd.read_csv("/home/dsc/data/challenge/bookings.csv.bz2", compression= "bz2", sep = "^", error_bad_lines = False, memory_map = True, usecols = ["arr_port", "pax"])

In [15]:
bookings

          arr_port  pax
0         LHR      -1.0
1         CLT       1.0
2         CLT       1.0
3         SVO       1.0
4         SVO       1.0
...            ...  ...
10000005  MAA      -1.0
10000006  MAA       1.0
10000007  RDU       1.0
10000008  ORY       1.0
10000009  ORY       1.0

[10000010 rows x 2 columns]

Yessss! it worked!

In [24]:
passengers_by_airport = bookings.groupby("arr_port").sum()
passengers_by_airport

             pax
arr_port
AAB         30.0
AAE        810.0
AAL        810.0
AAN         20.0
AAQ       1650.0
...          ...
ZWE         30.0
ZWS        620.0
ZYL       1290.0
ZYN         20.0
ZYR       1020.0

[2275 rows x 1 columns]

In [30]:
passengers_by_airport.sort_values(by = "pax", ascending= False)

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
...           ...
MYJ         -80.0
UPG         -90.0
XWG         -90.0
MZV        -350.0
AYQ       -1270.0

[2275 rows x 1 columns]

When I thought we had it, in the next cell...

In [31]:
passengers_by_airport.sort_values(by = "pax", ascending= False)[0:10]

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

Toni came and started talking about spaces, upper and lower case... so I have to normalise...

In [33]:
bookings["arr_port"].unique()

array(['LHR     ', 'CLT     ', 'SVO     ', ..., 'VEL     ', 'SLM     ',
       'SG      '], dtype=object)